* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  gap: 30px;
}

@media screen and (max-width: 800px) {
  #board {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
  }
  #board button {
    font-size: 50px !important;
  }
}

#board button {
  padding: 0;
  font-size: 120px;
  border: 1px black solid;
}

.X {
  background-color: red;
  color: black;
}
.O {
  background-color: blue;
  color: white;
}
.winning-cell {
  background-color: yellow;
  color: black;
  border: 5px solid black;
}

#status {
  font-size: 30px;
  border: solid 3px black;
  margin: 50px 0;
  padding: 5px 10px;
}

#reset-btn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: orange;
  border: 1px solid black;
  cursor: pointer;
}

.blinking-text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
